@import '../../css/_variables.scss';

.ser-area {
    background: $bg-white;
}

.sub-heading {
    color: $color-purpleDark;
    margin-bottom: 3em;
}

.img-rbn {
    margin-bottom: 8em;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sec-services .card {
    border: none;
    margin-bottom: 50px;
}

.sec-services .card-text {
    color: $color-black;
    font-size: $f-sm-size;
    line-height: $f-sm-height;
    margin-bottom: 50px;
    min-height: 7em;
}

.btn-services {
    border: none !important;
    padding: 30px 30px !important;
    background-color: #441752 !important;
    width: 100%;
    min-height: 108px;
    transition: all 5s ease-in-out;
    position: relative !important;
}

.sec-services .card-body {
    border-radius: 8px;
    padding: 30px 15px;
    background: $bg-services;
    height: 510px;
    position: relative !important;

    &:hover {
        cursor: pointer;
        background-color: $color-white;
        box-shadow: 0px 0 20px $color-shadow;
    }

    &:hover .img-rbn {
        opacity: 0;
        visibility: hidden;
        animation: slide-up-img 0.3s ease forwards;
    }

    &:hover .btn-services {
        background: url('../../assets/images/services-btn-bg.png') no-repeat !important;
        background-size: cover !important;
        min-height: 167px;
        animation: slide-up 0.5s ease forwards;
    }

    &:hover .card-text {
        margin-bottom: 103px !important;
    }
}

@keyframes slide-up {
    0% {
        bottom: -30%;

    }

    100% {
        bottom: 0%;
    }
}

@keyframes slide-up-img {
    0% {
        bottom: -30%;
        margin-bottom: 8em;
    }

    100% {
        bottom: 0%;
        margin-bottom: 0em;
    }
}

@media only screen and (max-width:767.98px) {
    .sec-services .card {
        margin-bottom: 50px;
    }

    .sec-services .card-body {
        height: auto;
    }

    .sec-services .card-text {
        min-height: auto;
    }
}

@media only screen and (min-width:768px) and (max-width:1023.98px) {
    .sec-services .card {
        margin-bottom: 50px;
    }

    .btn-services {
        min-height: 8em;
    }

    .sec-services .card-body:hover .card-text {
        margin-bottom: 124px !important;
    }

    .sec-services .card-text {
        min-height: 11em;
    }

    .sec-services .card-body {
        height: auto;
    }
}

@media only screen and (min-width:1024px) and (max-width:1199.98px) {
    .sec-services .card-body {
        height: auto;
    }

    .sec-services .card-text {
        min-height: 10em;
    }
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
    .sec-services .card-body {
        height: auto;
    }

    .sec-services .card-text {
        min-height: 10em;

    }
}