.ser-area {
  background: #fff;
}

.sub-heading {
  color: #441752;
}

.img-rbn {
  margin-bottom: 8em;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sec-services .card {
  border: none;
  margin-bottom: 50px;
}

.sec-services .card-text {
  color: #000;
  font-size: calc(20px + 4 * (100vw - 300px) / 3200) !important;
  line-height: calc(22px + 4 * (100vw - 300px) / 3200) !important;
  margin-bottom: 50px;
  min-height: 7em;
}

.btn-services {
  border: none !important;
  padding: 30px 30px !important;
  background-color: #441752 !important;
  width: 100%;
  min-height: 108px;
  transition: all 5s ease-in-out;
  position: relative !important;
}

.sec-services .card-body {
  border-radius: 8px;
  padding: 30px 15px;
  background: #fcf0f3;
  height: 510px;
  position: relative !important;
}
.sec-services .card-body:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.sec-services .card-body:hover .img-rbn {
  opacity: 0;
  visibility: hidden;
  animation: slide-up-img 0.3s ease forwards;
}
.sec-services .card-body:hover .btn-services {
  background: url("../../assets/images/services-btn-bg.png") no-repeat !important;
  background-size: cover !important;
  min-height: 167px;
  animation: slide-up 0.5s ease forwards;
}
.sec-services .card-body:hover .card-text {
  margin-bottom: 103px !important;
}

@keyframes slide-up {
  0% {
    bottom: -30%;
  }
  100% {
    bottom: 0%;
  }
}
@keyframes slide-up-img {
  0% {
    bottom: -30%;
    margin-bottom: 8em;
  }
  100% {
    bottom: 0%;
    margin-bottom: 0em;
  }
}
.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.arrow-controls .carousel-button {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  color: #441752;
  background: transparent !important;
  border: 1px solid #441752 !important;
}

.arrow-controls .carousel-button:hover {
  color: #f29f58;
  border: 1px solid #f29f58 !important;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-card {
  padding: 10px;
  min-width: 25%;
}

.carousel-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
}

.carousel-button:hover {
  background-color: #555;
}

@media only screen and (max-width: 575.98px) {
  .sec-services .card {
    margin-bottom: 50px;
  }
  .sec-services .card-body {
    height: auto;
  }
  .sec-services .card-text {
    min-height: auto;
  }
  .carousel-controls {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .sec-services .card {
    margin-bottom: 50px;
  }
  .sec-services .card-body {
    min-height: 550px;
  }
  .sec-services .card-text {
    min-height: 10em;
  }
  .carousel-controls {
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.98px) {
  .sec-services .card {
    margin-bottom: 50px;
  }
  .btn-services {
    min-height: 8em;
  }
  .sec-services .card-body:hover .card-text {
    margin-bottom: 124px !important;
  }
  .sec-services .card-text {
    min-height: 11em;
  }
  .sec-services .card-body {
    height: auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199.98px) {
  .sec-services .card-body {
    height: auto;
  }
  .sec-services .card-text {
    min-height: 10em;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .sec-services .card-body {
    height: auto;
  }
  .sec-services .card-text {
    min-height: 10em;
  }
  .cardWidth {
    width: 279px !important;
    background: green;
  }
}/*# sourceMappingURL=services.css.map */